
.contact{
    margin:30px;
}
a{
    padding-left: 10px;
}
.help{
    position: absolute;
    bottom: 20px;
    width:96%;
    background-color:blanchedalmond;
}
h4{
    padding-left: 20px;
}
.phone{
    color:rgb(1, 110, 1)
}