.faq-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    font-family: Arial, sans-serif;
}

.faq-container h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.accordion-item {
    margin-bottom: 30px;
}

.accordion-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eee;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-title:hover {
    background-color: #ddd;
}

.accordion-title h3 {
    font-size: 20px;
    margin: 0;
}

.accordion-content {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    display: block;
    transition: max-height 0.3s ease;
    max-height: 0;
}

.accordion-content p {
    font-size: 16px;
    margin: 0;
}

.accordion-item.active .accordion-title {
    background-color: #ddd;
}

.accordion-item.active .accordion-content {
    max-height: 200px;
    transition: max-height 0.3s ease;
}